{{- if .Values.ingress.enabled -}}
{{- $fullName := include "aws-oidc.fullname" . -}}
{{- $svcPort := .Values.service.port -}}
{{- if semverCompare ">=1.14-0" .Capabilities.KubeVersion.GitVersion -}}

apiVersion: networking.k8s.io/v1beta1
{{- else -}}
apiVersion: extensions/v1beta1
{{- end }}
kind: Ingress
metadata:
  name: {{ $fullName }}
  {{- if .Values.namespace }}
  namespace: {{ .Values.namespace }}
  {{- end }}
  labels:
    {{- include "aws-oidc.labels" . | nindent 4 }}
  annotations:
    alb.ingress.kubernetes.io/actions.redirect: |-
      {"Type": "redirect", "RedirectConfig": {"Protocol": "HTTPS", "Port": "443", "StatusCode": "HTTP_301"}}
    alb.ingress.kubernetes.io/backend-protocol: "HTTP"
    alb.ingress.kubernetes.io/healthcheck-path: "/health"
    alb.ingress.kubernetes.io/healthcheck-protocol: "HTTP"
    alb.ingress.kubernetes.io/listen-ports: |-
      [{"HTTP": 80, "HTTPS": 443}],
    alb.ingress.kubernetes.io/scheme: "internet-facing"
    alb.ingress.kubernetes.io/security-groups: {{ .Values.ingress.annotations.securityGroup }}
    alb.ingress.kubernetes.io/ssl-policy: "ELBSecurityPolicy-TLS-1-1-2017-01"
    alb.ingress.kubernetes.io/subnets: {{ .Values.ingress.annotations.subnets }}
    alb.ingress.kubernetes.io/success-codes: "200-399"
    alb.ingress.kubernetes.io/tags: Name={{ $fullName }},project={{ .Values.project }},env={{ .Values.env }},service={{ .Values.serviceName }},owner={{ .Values.owner }},managedBy=argocd
    alb.ingress.kubernetes.io/target-group-attributes: "deregistration_delay.timeout_seconds=60"
    alb.ingress.kubernetes.io/target-type: "instance"
    kubernetes.io/ingress.class: "alb"
spec:
  {{- if .Values.ingress.tls }}
  tls:
    {{- range .Values.ingress.tls }}
    - hosts:
        {{- range .hosts }}
        - {{ . | quote }}
        {{- end }}
      secretName: {{ .secretName }}
    {{- end }}
  {{- end }}
  rules:
  {{- if .Values.ingress.http }}
  - http:
      {{- range .Values.ingress.http.paths }}
      paths:
      - path: {{ . }}
        backend:
          serviceName: redirect
          servicePort: use-annotation
      {{- end }}
    {{- end }}
  - host: {{ .Values.ingress.host.fqdn }}
    http:
      paths:
      {{- range .Values.ingress.host.paths }}
      - path: {{ . }}
        backend:
          serviceName: {{ $fullName }}
          servicePort: {{ $svcPort }}
      {{- end }}
{{- end }}
