on: push

jobs:
  test:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: "1.21"
      - name: Install dependencies
        run: |
          make setup
      - name: lint
        run: |
          make lint-ci
      - name: Run tests
        env:
          REVIEWDOG_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN}}
        run: |
          make test
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1
        with:
          files: ./coverage.txt
          flags: unittests
          name: aws-oidc
          path_to_write_report: ./codecov_report.txt
          verbose: true
